name: Build and Test

on: [push]

jobs:
    build:
        runs-on: ${{ matrix.operating-system }}

        strategy:
            matrix:
                # TODO testing in Windows (help wanted!)
                # windows-latest
                operating-system: [ubuntu-latest, macos-latest]

        steps:
            - uses: actions/checkout@v1
            - name: Use Node.js latest
              uses: actions/setup-node@v3
              with:
                  node-version: latest
            - name: npm install, build, and test
              run: |
                  npm i
                  npm run clean
                  npm run build
                  npm test
            - name: ensure no modifications
              run: git add . && git diff --quiet && git diff --cached --quiet
              env:
                  CI: true
